* {
  box-sizing: border-box;
}

/* font-family: 'Overpass', sans-serif; */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Overpass', sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body{
    font-size: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ancho{
    max-width: 1200px;
    min-width: 768px;
}

/*HEADER*/
.header{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  height: 450px;
}

/*Background*/

.container-bg{
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.bg-dg{
  position: absolute;
  background: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  border-bottom-left-radius:80px;
}

.bg-img{
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(/images/bg-pattern-intro-desktop.svg) no-repeat;
  background-size: cover;
  background-position: center ;
  z-index: -1;
}


.lg-menu input[type='checkbox'], 
.lg-menu .fa-bars, 
.lg-menu .fa-times{
  position: absolute;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  right: 30px;
  top: 55px;
  width: 48px;
  height: 48px;
  display: none;
  font-size: 2rem;
  text-align: center;
}

/*NAV*/

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    height:100px ;
}

.lg-menu img{
    width: 120px;
    height: auto;
    margin-right: 2.5rem;
}

.lg-menu{
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-container-mobile{
  display: none;
}

.menu-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-option{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  height: 15px;
  cursor: pointer;
}

.menu-option:hover{
  text-decoration: underline white;
}

.menu-option-desplegar{
  position:relative;
  display: inline-block;
}

.desplegable{
  display: none;
  position: absolute;
  left:-2px;
  top: 30px;
  z-index: 1;
}

.show{
  display: block;
  animation-name: desplazamiento;
  animation-duration: .3s;
  animation-iteration-count: 1;
}

@keyframes desplazamiento{
  0%{
    top:0%;
    
    opacity:0;
  }
  100%{
    top: 30px;
    opacity: 1;
  }
}

.desplegable ul{
  list-style: none;
  background-color: white;
  margin: 0;
  padding: 1.2rem 3rem 1.2rem 1.2rem;
  border-radius: 0.3rem;
  box-shadow: 8px 8px 8px rgba(0,0,0,.1);
}

.desplegable ul a{
  text-decoration: none;
  color: black;
  line-height: 1.8rem;
}

.desplegable ul a:hover{
  font-weight: bold;
}

.menu-option img{
  margin:0 30px 0 8px;
  height: 7px;
  width: auto;
}

.button-container{
  display: flex;
  justify-content: end;
  align-items: center;
}

.login{
  background-color: transparent;
  color: white;
  border: none;
  width: 60px;
  height: 35px;
  margin-right: 3px;
}

.login:hover{
  cursor: pointer;
}

.sign-up{
  width: 110px;
  height: 35px;
  background-color: white;
  border: none;
  border-radius: 18px;
  color:hsl(353, 100%, 62%);
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}

.sign-up:hover{
  cursor: pointer;
  color: white;
  background-color: hsl(355, 100%, 74%);
}

@media(max-width:480px){
  .main-container{
    width: 100%;
  }
  .nav-bar {
    padding: 5rem 2rem 5rem 2rem;
  }

  .nav-bar .button-container{
    display: none;
  }

  .ancho{
    max-width: 480px;
    min-width: 360px;
  }

  .header{
    height: 600px;
    border-bottom-left-radius:80px;
  }
  .bg-img{
    background: url(/images/bg-pattern-intro-mobile.svg) no-repeat;
    background-size: cover;
    background-position: top -2rem left 3rem ;
  }

  .lg-menu input[type='checkbox'], .lg-menu .fa-bars, .lg-menu .fa-times{
    display: block;
  }
  .lg-menu input[type='checkbox']{
    opacity: 0;
    z-index: 2;
  }

  .menu-container{
    position: absolute;
    top: 23%;
    left:5%;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 2rem 3rem;
    color: black;
  }
  
  .lg-menu input:checked ~ .fa-bars {
    display: none;
  }
  .lg-menu input:not(:checked) ~ .fa-times{
    display: none;
  }
}

/*NAVBAR MOBILE*/

@media(max-width:480px){
  .menu-container-mobile{
    /* display: flex; */
    flex-direction: column;
    position: absolute;
    top: 8rem;
    left: 3rem;
    width: 80%;
    background-color: white;
    padding: 1.5rem 0;
    color: hsl(208, 49%, 24%);
    border-radius: .2rem;
    box-shadow: 0 10px 10px rgba(0,0,0,.1);
    display: none;
    z-index: 4;
  }
  .menu-container{
    display: none;
  }
  .menu-container-mobile .menu-option-desplegar{
    margin: .5rem .5rem 1rem;
  }
  .menu-container-mobile .menu-option-desplegar .drpdown img{
    margin: .5rem;
  }
  .menu-container-mobile .button-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    border-top: 1px solid hsl(240, 2%, 79%);
    width: 90%;
  }
  .menu-container-mobile .login{
    color: hsl(208, 49%, 24%);
    margin:1rem 0;
    font-weight: bold;
  }
  
  .menu-container-mobile .sign-up{
  background: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    color: white;  
  }

  .desplegable{
    position: static;
    margin: 1rem auto 0;
    width: 90%;
  }
  .desplegable ul{
    background-color: rgb(232, 232, 232);
    box-shadow: none;
    color: hsl(208, 49%, 24%);
    text-align: center;
    margin: 0;
    padding: 1rem 0;
  }
  .desplegable ul li{
    margin: .4rem 0;
  }
}

/*INTRO*/
.intro{
  text-align: center;
  margin-top: 2.5rem;
}

.intro h1{
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.intro p{
  margin: 0 0 2rem 0;
}

.buttons-intro{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 240px;
  margin: 0 auto;
}

.buttons-intro .login{
  width: 110px;
  border: 1px solid white;
  border-radius: 18px;
  font-weight: bold;
}

.buttons-intro .login:hover{
  background-color: white;
  color: hsl(356, 100%, 66%);
  border: none;
  cursor: pointer;
}


/*Designed for the future*/
.container-designed{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 99.1vw;
  overflow: hidden;
}

.container-designed h2{
  text-align: center;
  margin-top: 6rem;
}

.editor-text{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
}

.text-desc{
  width: 70%;
  padding-left: 22rem;
}

.text-desc p:first-of-type{
 margin-bottom: 3rem;
}

.img-editor{
  width: 50%;
  object-fit: cover;
}

.img-editor img{
  margin-left:25rem;
  height: 750px;
  width:auto;
}

.editor-mobile{
  display: none;
}

@media(max-width:480px){
  .container-designed{
    width: 100%;
    text-align: center;
  }

  .editor-text{
    flex-direction: column-reverse;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 12rem;
  }

  .text-desc{
    padding: 0;
  }

  .editor-desktop{
    display: none;
  }

  .editor-mobile{
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .img-editor img{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .img-editor{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
  }
}

/*STATE ART*/
.container-stateArt{
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: white;
}

.phones-container{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 280px;
  width: 100%;
  z-index: -2;
  border-radius: 0 5rem;
}

.bg-phones{
  position: absolute;
  background: linear-gradient(to right ,hsl(237, 17%, 21%),hsl(237, 23%, 32%));
  width: 100%;
  height: 100%;
  z-index: -2;
}

.bg-dgphones{
  position: absolute;
  left: 0;
  background:url(/images/bg-pattern-circles.svg) no-repeat;
  height: 100%;
  width: 80%;
  background-size: cover;
  background-position: bottom 18% left -30rem;
  z-index: -1;
}

.phones{
  position: absolute;
  height: 400px;
  top:-4rem;
  left:21rem;
}
.phones img{
  width: 80%;
}

.state{
  grid-column: 2/3;
  padding: 4rem 21rem 4rem 0;
}

@media(max-width:480px){
  .container-stateArt{
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    height: 550px;
  }
  .phones{
    position: absolute;
    top: -10rem;
    left: 0;
    margin:0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .phones img{
    width: 80%;
  }
  .bg-phones{
    border-radius: 0 5rem ;
  }
  .bg-dgphones{
    background-position: center top -12rem ;
    left: auto;
    width: 100%;
    border-radius: 0 5rem ;
  }
  .phones-container{
    height: 100%;
  }
  .state{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;
    padding: 13.5rem 2rem 0;
  }
}


/*DETAILS*/
.container-details{
  display: flex;
  margin-top: 5rem;
}
.img-laptop{
  width: 50%;
  object-fit: cover;
}
.img-laptop img{
  margin-left:-17rem;
  height: 750px;
  width:auto;
}
.detail-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 630px;
}
.detail-text h2{
  margin-bottom: 0;
}
.detail-text p:first-of-type{
  margin-bottom: 3rem;
 }

 @media(max-width:480px){
  .container-details{
    flex-direction: column;
    width: 100%;
    padding: 0 2rem;
    text-align: center;
  }
  .detail-text{
    width: 100%;
  }
  .laptop-desk{
    display: none;
  }

  .img-laptop .laptop-mobile{
    margin:0 auto;
    height: auto;
    width: 450px;
  }
  .img-laptop{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
 }


 /*footer*/
 .container-footer{
  background-color: hsl(240, 10%, 16%);
  width: 100%;
  height: auto;
  margin-top: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .footer-contain{
  display: flex;
  justify-content: space-around;
  align-items: start;
  padding: 3rem 0; 
 }

 .footer-ul{
  list-style: none;
  line-height: 1.8rem;
 }

.footer-ul li a{
  color: hsl(240, 2%, 79%);
  text-decoration: none;
}

.footer-ul li a:hover{
  text-decoration: underline;
}

 .footer-ul li:first-child{
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: white;
 }

 @media(max-width:480px){
  .footer-contain{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footer-ul{
    padding: 0;
  }
  .footer-ul:first-of-type{
    margin-top: 3rem;
  }
 }